.rs-selection-caption {
    width: 100%;
    font-size: .9375rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: $rs-black;
}