.rs-selection-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: solid 1px $rs-gray-250;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
        outline: none;
    }

    &.rs-rtl-selection {
        direction: rtl;
        text-align: right;
    }

    &.rs-show {
        border:solid 1px $rs-black !important;
        background: #ffffff !important;
    }
}