.rs-selection-dropdown-items {
    min-width: 100%;
    max-height: 280px;
    text-align: left;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    .rs-rtl-selection & {
        text-align: right;
    }

    @media only screen and (max-width: $rs-screen-sm-max) {
        height: calc(100% - 64px); // dropdown without footer and search
        max-height: calc(100% - 64px); // dropdown without footer and search
        margin: 0;
        padding: 8px 24px;
        padding-bottom: 24px !important;
        -webkit-overflow-scrolling: touch;

        &.is-footer-and-search {
            height: calc(100% - 169px); // dropdown with footer and search
            max-height: calc(100% - 169px); // dropdown with footer and search
        }

        &.is-footer-and-no-search {
            height: calc(100% - 129px); // dropdown without search
            max-height: calc(100% - 129px); // dropdown without search
        }

        &.no-footer-and-is-search {
            height: calc(100% - 104px); // dropdown without footer
            max-height: calc(100% - 104px); // dropdown without footer
        }
    }

    // li

    li {
        position: relative;
        padding: 8px 0 8px 24px;
        color: $rs-black;
        font-size: .9375rem; // 15px
        font-weight: normal;
        line-height: 1;
        cursor: pointer;
        width: 100%;

        @media only screen and (min-width: $rs-screen-sm-max) {
            &:hover {
                background-color: $rs-gray-100;
            }
        }

        @media only screen and (max-width: $rs-screen-sm-max) {
            padding: 12px 0;
        }

        .rs-rtl-selection & {
            padding: 8px 24px 8px 0;
        }
    }


    &.rs-dropdown-items--range {
        padding-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &.rs-dropdown-items--range-end {
            align-items: flex-end;
        }

        .rs-rtl-selection & {
            align-items: flex-end;

            &.rs-dropdown-items--range-end {
                align-items: flex-start;
            }
        }

        li {
            width: 50%;
            text-align: center;
            clear: both;
        }
    }

    &.rs-dropdown-items--multiple {
        li {
            &:before {
                display: inline-block;
                content: '';
                width: 17px;
                height: 17px;
                margin-right: 8px;
                vertical-align: middle;
                border-radius: 4px;
                border: 1px solid $rs-gray-300;

                @media only screen and (max-width: $rs-screen-sm-max) {
                    width: 24px;
                    height: 24px;
                }

                .rs-rtl-selection & {
                    margin-right: 0;
                    margin-left: 8px;
                }
            }

            &.rs-dropdown-items__checked {
                &:before {
                    color: transparent;
                    border-color: $rs-primary;
                    background-color: $rs-primary;
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 13l4 4L19 7" /> </svg>');
                    background-repeat: no-repeat;
                    background-position: 49% 47%;
                    background-size: 16px 16px;


                    @media only screen and (max-width: $rs-screen-sm-max) {
                        background-size: 16px 16px;
                    }
                }
            }
        }
    }
}