.rs-selection__input {
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    padding: .5rem 1rem;
    font-size: .9375rem;
    font-weight: normal;
    line-height: 1.8;
    color: $rs-black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $rs-gray-250;
    border-radius: .5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    .rs-rtl-selection & {
        text-align: right;
    }
}