.rs-selection-toggle {
    position: relative;
    width: 100%;
    border-radius: 8px;

    .rs-selection-toggle-icon {
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        content: '';
        border: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        transform: translate(0, -50%);

        svg {
            stroke: currentColor;
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        .rs-rtl-selection & {
            right: unset;
            left: 16px;
        }
    }

    .rs-selection-clear-btn {
        position: absolute;
        background-color: $rs-primary;
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        right: 12px;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        padding: 4px;
        cursor: pointer;
        outline: 0;
        line-height: 0;
        border: 0;
        z-index: 2;

        svg {
            g,path {
                stroke: #ffffff;
                stroke-width: 2.2px;
            }
        }

        .rs-rtl-selection & {
            left: 12px;
            right: unset;
        }
    }
}