$rs-gray-100: #f5f4fa;
$rs-gray-200: #ebebeb;
$rs-gray-250: #ccd0d2;
$rs-gray-300: #b0b0b0;
$rs-gray-400: #707070;
$rs-black: #222222;
$rs-primary: #160647;
$rs-secondary: #46d39a;
$rs-secondary-hover: #2fc488;


$rs-screen-xs-max: 767px;
$rs-screen-sm-max: 991px;
$rs-screen-md-max: 1199px;
